{erl_opts, [debug_info]}.

{plugins, [rebar_mix, rebar3_rustler]}.

{provider_hooks, [
    {post, [{compile, {mix, consolidate_protocols}}]}
]}.

{deps, [
    {crudjt, "1.0.0-beta.0"},

    %% HTTP stack
    {cowlib, "2.16.0"},
    {ranch, "2.1.0"},
    {cowboy, "2.10.0"},
    {gun, "2.0.1"},

    %% gRPC / Protobuf
    {grpc, "0.9.0"},
    {protobuf, "0.12.0"},
    googleapis,

    %% Elixir deps
    telemetry,
    gen_stage,
    flow,

    %% Codecs
    {jason, "1.4.1"},
    {msgpax, "2.4.0"},
    {toml, "0.7.0"},
    {hpax, "0.1.2"},

    %% HTTP client alt
    {mint, "1.6.1"},

    %% NIF
    {rustler, "0.29.1"}
]}.

{overrides, [
    {override, cowboy, [{deps, [{cowlib, "2.16.0"}, {ranch, "2.1.0"}]}]},
    {override, gun, [{deps, [{cowlib, "2.16.0"}]}]},
    {override, grpc, [{deps, [{gun, "2.0.1"}, {cowlib, "2.16.0"}]}]}
]}.

{shell, [
    {apps, [crudjt_erlang]}
]}.
